#cloud-config
# vim: syntax=yaml
#
# ***********************
#	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: leonardo # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDmuVljiticMj2YjMqAsH1Ope2ffQBxksqziP1MkBh+1JhjdOkl6hViB2Ct7xNnXnZc7d5MlQdUiWa75PqabBUVlmdtBS6VQWoaurNNDklAlc74hvF/929CVknqWGVOXJFpFEL6Ydz36/txJNU/1y8i/DRezu95bDqPSUBQlYaITanQjUYZYB1TNKXtLMiR8lr+z6CwKo+XclOt4Fnpqea6hcuwePAg9PMLtOSFcWrgtdKiz6eVXI/pQR/H1ZE22E3I0s/Faq3u6VbUTLrPTg27o3dmVM3SwIuu3P/jVQad0FznqYZ/GYNZ3b1E4FFL0T95jW72vMTan5INa7sY2Bt3 leonardo@ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
